.main{
	width:550px;
	float:left;
	/*display:inline-block;*/
}
.graphs{
	margin-left:570px;
}
.graph{
	padding:20px;
}

.noSelect{
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.header{
	height:25px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background-color:#05111a;
	text-align:center;
	font-size:x-large;
	color:white;
	padding:2px;
}
.displayLong{
	height:510px;
	background-color:#05111a;
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;
}
.display{
	height:450px;
	background-color:#05111a;
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;
	
}
.foo{
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	right:0;

}
.canvasDiv{
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;	
}
.displayText{
	font-size:medium;
	color:white;
	padding:5px;
}
.bottomAlign{
	vertical-align:bottom;
	position:relative;
}
.dash{
	height:130px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}
.dashMed{
	height:70px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}
.dashShort{
	height:40px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}	
.bottomRound{
	height:0px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}
.graphSpacer{
	height:10px;
}
.borderedBlock{
	background-color:#05111a;
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;
}
.question{
	background-color:#05111a;
	color:white;
	padding:10px;
}
.base{
	padding-top:10px;
	display:inline-block;
	width:700px;
}
.answerDiv{
	color:white;
	width:300px;
	display:inline-block;
}
.answerBox{
	width:500px;
	height:50px;
}
.submit{
	color:white;
	float:right;
	display:inline-block;
}
textarea{
	resize:none;
}


