.wrapper{
	display:inline-block;
}
.main{
	width:550px;
	float:left;
	/*display:inline-block;*/
}
.graphs{
	margin-left:570px;
}
.graph{
	/*padding:20px;
	padding:20px;*/
	position:relative;
}

.noSelect{
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.header{
	height:25px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background-color:#05111a;
	text-align:center;
	font-size:x-large;
	color:white;
	padding:2px;
}
.multChoiceBlock{
	width:400px;
	padding:5px;
	border-radius:15px;
	color:white;
	border:3px solid;
	border-color:#b3b2b1;
}
.displayLong{
	height:500px;
	background-color:#05111a;
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;
}
.display{
	height:450px;
	background-color:#05111a;
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;
	
}

.canvasDiv{
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;	
}
.displayText{
	font-family:georgia, garamond;/*WHAT IS GARAMOND?  SHOULD GET OTHER FALLBACKS.*/
	font-size:medium;
	color:white;
	padding:5px;
}
.niceFont{
	font-family:georgia, garamond;
}
.bottomAlign{
	vertical-align:bottom;
	position:relative;
}
.dash{
	height:130px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}
.dashMed{
	height:70px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
	padding:10px;
}
.whiteFont{
	color:white;
}
.dashShort{
	height:40px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}	
.bottomRound{
	height:0px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#05111a;
	color:white;
	padding:10px;
}
.graphSpacer{
	height:10px;
}
.borderedBlock{
	background-color:#05111a;
	border-top: 3px solid;
	border-bottom:3px solid;
	border-color:#b3b2b1;
}
/*
.question{
	background-color:#05111a;
	color:white;
	padding:10px;
}
*/
.base{
	padding-top:10px;
	display:inline-block;
	width:970px;
}
.answerDiv{
	color:white;
	width:300px;
	display:inline-block;
}
.answerBox{
	width:500px;
	height:50px;
}
.submit{
	color:white;
	float:right;
	display:inline-block;
}
textarea{
	resize:none;
}
A:link {color:#fedb66;}
A:visited {color:#fedb66;}
A:hover{color:#fffd00;}